<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Most Liked Fossils</title>
  </head>
  <body>
    {% block body %}
    <h1>{{ name }}</h1>
    {% for fossil in fossils %}
    <div class="fossil-div">
      <h3>{{ fossil.name }}</h3>
      <h2>Liked {{ fossil.num_likes }} times.</h2>
      <img src="{{ fossil.img }}" />
    </div>
    {% endfor %}
    <div>
      <form action="/like-fossil" method="POST">
    <select name="fossil">
      <option value="" selected disabled>Select a fossil</option>
      {% for key, fossil in dropdown %}
        <option value="{{ key }}">{{ fossil.name }} ({{ fossil.num_likes }} likes)</option>
      {% endfor %}
    </select>
    <button type="submit">Like</button>
  </form>
    </div>
    {% endblock body %}
  </body>

</html>
